<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login - KB Fashion House</title>
</head>
<body>

<h2>Login</h2>

<!-- ERROR MESSAGE -->
<p style="color:red" th:if="${param.error}">
    Invalid email/mobile or password
</p>

<!-- LOGOUT MESSAGE -->
<p style="color:green" th:if="${param.logout}">
    You have been logged out successfully
</p>

<form method="post" action="/login">

    <!-- Email OR Mobile -->
    <input type="text" name="username" placeholder="Email or Mobile" required />
    <br><br>

    <!-- Password -->
    <input type="password" name="password" placeholder="Password" required />
    <br><br>

    <button type="submit">Login</button>

</form>

<br>

<a href="/register">Register</a>

</body>
</html>
